/* || GENERAL STYLES */

html,
body,
main {
	font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* offset-x | offset-y | blur-radius \ color */
	text-shadow: 0 1px 5px rgb(0, 0, 0 / 10%);
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	max-height: 100vh;
	position: relative;
	width: 100vw;
}

body {
	background-image: url(https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
main {
	box-sizing: border-box;
	flex-grow: 0.5;
	top: 15%;
}

footer {
	justify-self: flex-end;
	height: 60px;
	text-align: center;
	width: 100vw;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	display: block;
	text-align: center;
}
section {
	width: 100%;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
div {
	text-align: center;
	vertical-align: middle;
}

form,
input {
	box-sizing: border-box;
}

/* || TYPOGRAPHY */

* {
	color: #222;
}
h1,
.h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.2;
}

h1,
.h1 {
	font-size: 3.375rem;
}

h2,
.h2 {
	font-size: 2.25rem;
}

h3,
.h3 {
	font-size: 2.1875rem;
}
#time {
	font-size: 10.5rem;
}

.text-lg {
	font-size: 2.25rem;
}
.text-m {
	font-size: 1.7rem;
}
.text-sm {
	font-size: 1.23rem;
}

.text-upper {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.text-italic {
	font-style: italic;
}
/* || COLOR STYLES */
.text-white {
	color: #fff;
	text-shadow: 0 1px 5px rgb(255, 255, 255 / 10%);
}

.text-black {
	color: rgb(34, 34, 34);
}
/* || FORMS */
form,
input {
	/* width | style | color */
	/* border: 1px solid #ced4da; */
	border-radius: 0.25rem;
	padding-top: 0.375rem;
}
	@media screen and (max-width: 400px) {
		html {
			font-size: 11px;
		}
	}
/* || ...Underline input */
.input-underline {
	border: 0;
	/* width | style | color */
	border-bottom: 2px solid #fff;
	border-radius: 0;
	display: inline-block;
	text-align: center;
	font-size: 2.25rem;
}
	@media screen and (max-width: 400px) {
		.input-underline {
			width: 90%;
		}
	}

	.input-underline:focus,
	.input-underline:hover {
		outline: 0;
	}

/* || ...Customized checkbox */

/* Create box */
.container-custom-checkbox {
	/* set position to relative for absolute position not to go beyond this container */
	cursor: pointer;
	display: inline-block;
	/* to insert custom checkbox */
	padding-left: calc(1em + 10px);
	position: relative;
}
	/* Remove default input */
	.container-custom-checkbox input {
		position: absolute;
		display: none;
	}

/* Create border box for the checkbox */

	.custom-checkbox {
		/* box-sizing: border-box; */
		border: 3px solid whitesmoke;
		border-radius: 5px;
		height: 0.6em;
		position: absolute;
		top: 0.1em;
		left: 0;
		width: 0.6em;
	}

		.custom-checkbox:hover {
			color: #ccc;
		}

		.custom-checkbox::after {
			content: "";
			display: none;
		}

	.container-custom-checkbox input:checked + .custom-checkbox::after {
		display: inline-block;
	}

	.container-custom-checkbox input:checked ~ .custom-checkbox-label {
		text-decoration: line-through;
	}

		/* Create custom check */
		.custom-checkbox::after {
			content: "\2714";
			position: absolute;
			top: -0.2em;
			left: 0.1em;
			font-size: 0.85em;
		}
/* || COMPONENTS */
/* || ...Button */
.btn {
	background-color: #fff;
	/* width | styles | color */
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	font-size: 1rem;
	/* vertical | horizontal */
	padding: 0.375rem 1.5rem;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
/* || ...Pill */
	.btn-pill {
		border-radius: 16px;
	}
/* // Button color	 */
	.btn.color-navy {
		background-color: darkslategray;
		color: whitesmoke;
	}
/* || ...Circle */
	.btn-circle {
		border-radius: 50%;
		height: 1.5rem;
		opacity: 0.5;
		padding: 0;
		width: 1.5rem;
	}

/* || ...Bin */
.bin {
	border-radius: 50%;
	margin-right: 5px;
	padding: 3px;
}

/* || UTILITIES */
/* || ...Flex */
.d-flex {
	align-items: center;
	display: flex;
	flex-direction: column;
}

	.d-flex-row {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

/* || ...Flex */
#time {
	display: block;
	text-align: center;
}

/* || Top Section */
#name-top {
	padding-left: 0.5rem;
}

/* || MAIN FOCUS */
#close {
	background-color: #fff;
	color: rgb(34, 34, 34);
	font-size: 0.4em;
	position: relative;
	top: -0.375rem;
	margin: auto;
}

/* || TO-DO */
.section-to-do {
	bottom: 50px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	position: absolute;
	right: 8px;
	width: auto;
}
	.to-do {
		background-color: #fff;
		border-radius: 5px;
		display: inline-block;
	}
		.to-do-top h3 {
			color: #222;
			text-align: left;
			padding-left: 21px;
			padding-top: 7px;
			padding-bottom: 7px;
		}
		.section-to-do .custom-checkbox {
			border: 2px solid #777;
		}
			.section-to-do .custom-checkbox:hover {
				color: #555;
			}

/* Newtodo */
/* Format for emptytodo */
.to-do .empty {
	min-height: 150px;
	padding: 21px;
}
#btn-newtodo {
	font-size: 0.9rem;
	padding: 8px 27px;
	margin-top: 16px;
}
/* Format newtodo input area */
#newToDo {
	font-size: 0.9rem;
}
/* Currenttodolist */
.todo-items {
	display: flex;
	text-align: left;
	padding-left: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}
	.todo-items .container-custom-checkbox {
		flex-grow: 1;
	}
.bin {
	opacity: 0;
}
	.todo-items:hover .bin,
	.todo-items:focus .bin {
		background-color: whitesmoke;
		opacity: 1;
		transition: opacity 0.25s ease-in-out;
	}

.to-do-bottom {
	/* top | horizontal | bottom */
	padding: 7px 21px 18px;
}

.section-quote {
	background-color: #fff;
	border-radius: 5px;
	display: block;
	font-size: 0.9rem;
	height: 2em;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 8px 27px;
	text-align: left;
}
	@media (min-width: 425px) {
		.section-quote {
			right: 60px;
			width: 300px;
		}
	}
#newQuote {
	width: 100%;
}
/* || FOOTER */
footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

	footer .quote {
		display: block;
		text-align: center;
		flex-grow: 1;
	}

	footer .quote button {
		margin-left: 10px;
	}

	footer .btn-todo {
		padding-right: 12px;
		cursor: pointer;
	}

/* || Classes to use for javascript */

.d-hidden {
	display: none;
}